MONGODB_URI=DIRECCION_MONGODB
PORT=NUMERO_PUERTO
TOKEN_SECRET=TOKEN_SECRET
MP_ACCESS_TOKEN=TOKEN_DE_PRUEBA_DE_MP
CLOUDINARY_URL=TU_CLOUDINARY_URL
EMAIL_USER=TU_CORREO
EMAIL_PASS=TU_CONTRASEÑA_DE_APLICACION
FRONTEND_URL=http://localhost:5173